<mat-sidenav-container>
  <mat-sidenav class="sidenav-container mat-elevation-z6" #sidenav mode="side" [fixedInViewport]="true"
               [fixedTopGap]="70" opened>
    <app-menu title="Cadastros"></app-menu>
    <app-menu title="Lançamentos"></app-menu>
    <app-menu title="Resultados"></app-menu>
  </mat-sidenav>

  <mat-sidenav-content>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>

