@import './../../../../assets/utils/colors';
@import './../../../../assets/utils/mixins';

.mat-icon-sidenav {
  width: rem(48);
  height: rem(48);
  font-size: rem(48);
  margin-right: rem(20);
}

a {
  color: $color-black;
  text-decoration: none;
  cursor: pointer;
}

.space-header {
  flex: 1 1 auto;
}
