<mat-toolbar class="mat-elevation-z6">
  <mat-toolbar-row>
    <a>
      <mat-icon class="mat-icon-sidenav" (click)="toggleSidenav()">menu</mat-icon>
    </a>

    <a [routerLink]="['/home']">SysFinan</a>

    <span class="space-header"></span>

    <a [routerLink]="['/logout']">
      <mat-icon mat-button>logout</mat-icon>
    </a>
  </mat-toolbar-row>
</mat-toolbar>
