<div class="container">
  <button class="close-icon" mat-icon-button mat-dialog-close (click)="dialogClose()">
    <mat-icon>close</mat-icon>
  </button>

  <h2 class="text-center" mat-dialog-title *ngIf="!editing">Novo Grupo</h2>
  <h2 class="text-center" mat-dialog-title *ngIf="editing">Editar Grupo</h2>

  <mat-dialog-content>
    <form [formGroup]="groupForm" novalidate>
      <mat-form-field appearance="outline">
        <mat-label>Nome do grupo</mat-label>
        <input matInput type="text" formControlName="name" placeholder="Ex. Bíceps, Tríceps" autocomplete="off">
      </mat-form-field>
    </form>
  </mat-dialog-content>

  <mat-dialog-actions class="d-flex justify-content-end">
    <button class="btn-clear-color"
            mat-raised-button
            (click)="clearGroup()">
      Limpar
    </button>

    <button class="btn-save-color"
            mat-raised-button
            [mat-dialog-close]="true"
            (click)="createGroup()"
            [disabled]="!groupForm.valid"
            *ngIf="!editing">
      Salvar
    </button>

    <button class="btn-edit-color"
            mat-raised-button
            [mat-dialog-close]="true"
            (click)="editGroup()"
            [disabled]="!groupForm.valid"
            *ngIf="editing">
      Editar
    </button>
  </mat-dialog-actions>
</div>
