<mat-card>
  <mat-card-header>
    <mat-card-title>Listagem de Grupos</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <div class="position-filter">
      <app-filter placeholderInput="Pesquisa de grupos"></app-filter>

      <button class="position-button" mat-icon-button (click)="openDialogCreate()" matTooltip="Novo grupo">
        <mat-icon>add_circle</mat-icon>
      </button>
    </div>

    <div class="mt-2">
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">

          <!-- ID Group -->
          <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{group.id}} </mat-cell>
          </ng-container>

          <!-- Name Group -->
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> Nome do grupo </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{group.name}} </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>
    </div>
  </mat-card-content>
</mat-card>
