@import './../../../../assets/utils/colors';
@import './../../../../assets/utils/fonts';

.txt-title {
  font-size: $font-size-default;
  color: $color-black;
}

.txt-subTitle {
  font-size: $font-size-small;
  color: $color-grey;
  cursor: pointer;

  &:hover {
    color: $color-red;
  }
}
