<mat-list role="list">
  <h3 class="txt-title" matSubheader color="secondary">{{ title }}</h3>

  <mat-divider></mat-divider>

  <div *ngIf="title === 'Cadastros'">
    <mat-list-item role="listitem">
      <a class="txt-subTitle" [routerLink]="['/register/exercise']">
        Exercícios
      </a>
    </mat-list-item>

    <mat-list-item role="listitem">
      <a class="txt-subTitle" [routerLink]="['/register/group']">
        Grupo
      </a>
    </mat-list-item>

    <mat-list-item role="listitem">
      <a class="txt-subTitle" [routerLink]="['/register/repetition']">
        Repetição
      </a>
    </mat-list-item>
  </div>
</mat-list>
