@import './mixins';

/* Fontes padrão do sistema */

// Fontes tamanho
$font-size-small: rem(14);
$font-size-default: rem(16);
$font-size-medium: rem(18);
$font-size-big: rem(20);
$font-size-bigger: rem(24);
