@import './../../../../assets/utils/colors';
@import './../../../../assets/utils/mixins';

.btn-save-color {
  width: rem(110) !important;
  height: rem(37) !important;
  color: $color-white;
  background-color: $color-black;
  text-align: center;
  border: rem(1) solid $color-black !important;
}

.btn-clear-color {
  width: rem(110) !important;
  height: rem(37) !important;
  color: $color-black;
  background-color: $color-white;
  text-align: center;
  border: rem(1) solid $color-black !important;
}

.btn-editar-color {
  width: rem(110) !important;
  height: rem(37) !important;
  color: $color-white;
  background-color: $color-red;
  text-align: center;
  border: rem(1) solid $color-red !important;
}
