/* You can add global styles to this file, and also import other style files */
@import './assets/utils/mixins';
@import './app/shared/scss/button/button';
@import './app/shared/scss/table/table';

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

button.close-icon {
  position: absolute;
  right: 0px;
  top: 0px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 999;
}

.mat-icon-button {
  vertical-align: text-bottom !important;
}

.container {
  position: relative !important;
}


