@import './../../../../assets/utils/colors';
@import './../../../../assets/utils/fonts';

table {
  width: 100% !important;
}

mat-header-cell {
  color: $color-black !important;
  font-weight: bold !important;
  font-size: $font-size-small !important;
}
